__pycache__

bug/
unused/
output/archive/
past_experiments/

guides_with_context.csv
guides_with_diff_context.csv
lib1.csv
lib2.csv
lib3.csv
lib13.csv
lib123.csv
lib13_context.csv
lib123_context.csv
negative_ctrl.csv
negative_ctrl_context.csv
validation.csv
validation_context.csv